.MobileMenu {
    position: fixed;
    inset: 0;
    z-index: 1;
    height: 100vh;
    background-color: var(--background-clr);
}

.MobileMenu .container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.MobileMenu .close {
    color: white;
    font-size: 3rem;
    align-self: flex-end;
    margin-top: 1rem;
}

.MobileMenu .mobile-links {
    list-style: none;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.MobileMenu .mobile-link {
    color: white;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-family: var(--header-font);
}