.ProjectCard {
    border-top: 2px solid #fff;
    flex-wrap: wrap;
    height: 100px;
    justify-content: space-between;
    position: relative;
}

.ProjectCard .text-box {
    display: flex;
}

.ProjectCard .title-arrow {
    gap: 1rem;
}

.ProjectCard .arrow {
    font-size: 1.5rem;
}

.ProjectCard .title {
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .ProjectCard .arrow {
        position: absolute;
        top: calc(50% - 12px);
        left: 0;
        opacity: 0;
        transition: opacity 0.2s ease;
    }
    
    .ProjectCard:hover .arrow {
        opacity: 1;
    }

    .ProjectCard .title {
        transition: transform 0.3s ease;
    }
    
    .ProjectCard:hover .title {
        transform: translateX(2rem);
    }
}

