.Navbar {
    position: relative;
}

.Navbar .container {
    justify-content: space-between;
    height: 80px;
}

.Navbar .bars {
    font-size: 3rem;
}

.Navbar .logo {
    font-size: 2.5rem;
    color: #BDAB2F;
}

.Navbar .nav-links {
    display: none;
}

@media (min-width: 768px) {
    .Navbar .bars {
        display: none;
    }

    .Navbar .nav-links {
        display: flex;
        gap: 2rem;
        list-style: none;
    }

    .Navbar .nav-link {
        font-family: var(--header-font);
        position: relative;
    }

    .Navbar .nav-link::after,
    .Navbar .nav-link.active::before {
        content: '';
        position: absolute;
        top: 1.4rem;
        background: white;
        height: 1.5px;
    }
    
    .Navbar .nav-link::after {
        left: 0;
        width: 100%;
    
        transform: scaleX(0);
        transition: transform 250ms ease-in;
    }
    
    .Navbar .nav-link:hover::after {
        transform: scaleX(1);
    }

    .Navbar .nav-link.active::before {
        left: 30%;
        width: 40%;
    }
}