.Footer {
    border-top: 1px solid rgba(255, 255, 255, 0.637);
    padding-block: 2rem;
}

.Footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.Footer .copy-wrapper {
    display: flex;
    align-items: center;
    gap: .2rem;
}

.Footer .text {
    text-align: center;
    font-size: .8rem;
}

.Footer .link {
    text-decoration: underline;
}

.Footer .footer-icons {
    display: flex;
    gap: 1rem;
}

.Footer .icon {
    font-size: 2rem;
    color: white;
}

@media (min-width: 768px) {
    .Footer .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .Footer .text {
        text-align: start;
    }
}